@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font: var(--font-family);
}
:root{
    --font-family: Arial, Helvetica, sans-serif;
    --cor1:#f4324a;
    --cor2:#ffffff;
    --cor3:#d83a31;
    --cor4:#f7f4e8;
}
label{
    display: inline-block;
    margin: 10px 10px;
    padding-bottom: 30px;
}
body{
    margin: auto;
}
section{
    margin: auto;
    background-color: #d3453d;
}
form{
    margin-left: auto;
    background-color: #ffffff;
    border: solid 4px var(--cor3);
    padding: 15px;
    width: 400px;
    height: 500px; 
}
form .img{
    position:relative;
    margin-right:auto;
    background-color: #f7f4e8;
    width: 500px;
    height: 300px;
    display: flexbox;

}
form input{
    display: block;
    padding-bottom: 30px;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px;
    gap: 10px;
}
button{
    background-color:var(--cor1);
    border: none;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom:15px;
}
span img{
    display: inline-block;
    margin: auto;
    margin: auto;
    text-align: center;
    width: 30px;
    height: 30px;
}
a{
    width: 5px;
    height: 10px;
    padding: 10px;
    margin: 13px;
    border: solid 1px black;

}
img{
    width: 10px;
    text-align: center;
    padding: -50%;
    margin: -50%;
}