@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1:#f4324a;
    --cor2:#ffffff;
    --cor3:#d83a31;
    --cor4:#f7f4e8;
    --cor:;
}
body{
    background-color: var(--cor3);
}
footer{
    background-color: var(--cor3);
    width: auto;
    
}